<template>
  <q-page class="column items-center">
    <h1 class="text-h4 title">Lista de afazeres</h1>
    <todo-list-vue />
  </q-page>
</template>

<script setup lang="ts">
import TodoListVue from 'src/components/TodoList.vue';
</script>

<style scoped>
.title {
  border-bottom: 1px solid black;
}
</style>
