<template>
  <q-form
    autocomplete="off"
    @submit.prevent="store.editing ? store.editTodo() : store.addTodo()"
    class="bg-purple-8 shadow-up-8 z-max q-pa-md"
  >
    <q-input
      type="text"
      name="todo"
      placeholder="Novo afazer"
      v-model="store.todo.content"
      class="bg-white q-pa-xs rounded-borders"
    />
  </q-form>
</template>

<script setup lang="ts">
import { useTodoStore } from 'src/stores/todos';

const store = useTodoStore();
</script>

<style scoped>
form {
  width: 100%;
}

@media (max-width: 640px) {
  form {
    position: fixed;
    left: 0;
    bottom: 0;
  }
}
</style>
