<template>
  <div class="todo-container q-pa-md">
    <q-list class="column items-start full-width" style="margin-bottom: 96px">
      <todo-item />
    </q-list>
    <create-todo />
  </div>
</template>

<script setup lang="ts">
import CreateTodo from './CreateTodo.vue';
import TodoItem from './TodoItem.vue';
</script>

<style scoped>
.todo-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-start;
  width: 40%;
  min-width: 700px;
  gap: 20px;
}

@media (max-width: 640px) {
  .todo-container {
    width: 100%;
    min-width: 0px;
    flex-direction: column;
  }
}
</style>
