<template>
  <q-item
    v-for="(item, index) in store.todos"
    :key="index"
    class="text-left full-width row items-center justify-between rounded-borders q-mb-sm"
    :class="item.completed ? 'bg-green-2 completed-item' : 'bg-purple-1'"
  >
    <p class="q-ma-none item-content">{{ item.content }}</p>
    <q-fab direction="left" icon="settings" class="bg-purple-4">
      <q-fab-action
        icon="delete"
        class="bg-red-6"
        @click="store.deleteTodo(index)"
      />
      <q-fab-action
        icon="edit"
        class="bg-blue-6"
        @click="store.setEditTodo(index)"
      />
      <q-fab-action
        :icon="item.completed ? 'close' : 'check'"
        class="bg-green-5"
        @click="store.toggleTodoCompletion(index)"
      />
    </q-fab>
  </q-item>
</template>

<script setup lang="ts">
import { useTodoStore } from 'src/stores/todos';

const store = useTodoStore();
</script>

<style scoped>
.item-content {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 75%;
}

.completed-item {
  text-decoration: line-through;
}
</style>
