<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated class="bg-purple-9">
      <q-toolbar>
        <q-toolbar-title> Safeleads Test </q-toolbar-title>

        <p class="q-mb-none">Quasar v{{ $q.version }}</p>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script setup lang="ts"></script>
